<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="stylesheets/login.css">

</head>
<body>

    <header class="header">
        <h2>LOGIN</h2>
        <p class="msg"> </p>
    </header>

    <form class="reg_form" >

        <div>
            <label for="email">Email</label>
            <input type="text" placeholder="email" class="email">
        </div>

        <div>
            <label for="password">password</label>
            <input type="text" placeholder="password" class="password">
        </div>

        <div>

            <button type="submit" class="submit">submit</button>
        </div>
    </form>

    <script src="javascripts/loginHandler.js"></script>
</body>
</html>