<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="stylesheets/registration.css">
</head>
<body>

    <header class="header">
        <h2>REGISTRATION</h2>
        <p class="msg"> </p>
    </header>
    <form action="" method="post" class="reg_form">
        <div>
            <label for="firstname">First Name</label>
            <input required class="firstname" type="text" placeholder="firstname"  Required>
        </div>

        <div>
            <label for="lastname">Last Name</label>
            <input type="text" placeholder="lastname" class="lastname" Required>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="text" placeholder="email" class="email" Required>
        </div>

        <div>
            <label for="address">Address</label>
            <input type="text" placeholder="address" class="address" Required>
        </div>

        <div>
            <label for="phone">Phone</label>
            <input type="text" placeholder="phone" class="phone" Required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="text" placeholder="password" class="password" Required>
        </div>

        <div>
            <label for="confirmPassword"> Confirm Password</label>
            <input type="text" placeholder="confirm password" class="confirmPassword" Required>
        </div>
        
        <div>

            <button type="submit" class="submit">submit</button>
        </div>
    </form>
    
    <script src="javascripts/formHandler.js"></script>
</body>
</html>