body{
    background: url(loginbg.png);
    background-attachment: fixed;
    }
h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.myform{
    background: white;
    width: 50;
    height: 50;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin: auto;
}